  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .slides {
    position: relative;
    /* width: 100vw; */
    height: 300px;
    /* margin-top: 15vh; */
    display: flex;             /* Allows horizontal scrolling */
    overflow-x: scroll;       /* Enables scrolling on the X-axis */
    scroll-snap-type: x mandatory; /* Enables snap to scroll on X-axis */
    scroll-behavior: smooth;  /* Optional: makes the scroll smooth */
  }
  .slides::-webkit-scrollbar {
    display: none;               /* Hide scrollbar */
  }
  
  .slides > img {
    position: absolute; 
    top: 0;
    left: calc(20% - 100px); 
    opacity: 0;
    animation: display 10s infinite;
    animation-play-state: running;
  }
  
  .slides > img:nth-child(2) {
    animation-delay: 2s;
  }
  .slides > img:nth-child(3) {
    animation-delay: 4s;
  }
  .slides > img:nth-child(4) {
    animation-delay: 6s;
  }
  .slides > img:nth-child(5) {
    animation-delay: 8s;
  }